// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#pragma code_page(65001)
/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDIS_IME                  ICON  "Resources\\ime.ico"
IDI_INPUT_MODE_CANTONESE  ICON  "Resources\\zh.ico"
IDI_INPUT_MODE_ABC        ICON  "Resources\\abc.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDR_VERSION VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "YuetYam"
            VALUE "FileDescription", "Jyutping Input Method"
            VALUE "FileVersion", "1.0.0.1"
            VALUE "InternalName", "Jyutping"
            VALUE "LegalCopyright", "CC0 1.0 Public Domain"
            VALUE "OriginalFilename", "Jyutping.dll"
            VALUE "ProductName", "Jyutping"
            VALUE "ProductVersion", "1.0.0.1"
        END
        BLOCK "0c0404b0"
        BEGIN
            VALUE "CompanyName", "YuetYam"
            VALUE "FileDescription", "粵拼輸入法"
            VALUE "FileVersion", "1.0.0.1"
            VALUE "InternalName", "Jyutping"
            VALUE "LegalCopyright", "CC0 1.0 Public Domain"
            VALUE "OriginalFilename", "Jyutping.dll"
            VALUE "ProductName", "粵拼"
            VALUE "ProductVersion", "1.0.0.1"
        END
        BLOCK "040404b0"
        BEGIN
            VALUE "CompanyName", "YuetYam"
            VALUE "FileDescription", "粵拼輸入法"
            VALUE "FileVersion", "1.0.0.1"
            VALUE "InternalName", "Jyutping"
            VALUE "LegalCopyright", "CC0 1.0 Public Domain"
            VALUE "OriginalFilename", "Jyutping.dll"
            VALUE "ProductName", "粵拼"
            VALUE "ProductVersion", "1.0.0.1"
        END
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "YuetYam"
            VALUE "FileDescription", "粤拼输入法"
            VALUE "FileVersion", "1.0.0.1"
            VALUE "InternalName", "Jyutping"
            VALUE "LegalCopyright", "CC0 1.0 Public Domain"
            VALUE "OriginalFilename", "Jyutping.dll"
            VALUE "ProductName", "粤拼"
            VALUE "ProductVersion", "1.0.0.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200, 0x0c04, 1200, 0x0404, 1200, 0x0804, 1200
    END
END

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE
BEGIN
    "\0"
END

3 TEXTINCLUDE
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// Localized resources
//

#include "Resources\\Strings.en-US.rc2"
#include "Resources\\Strings.zh-HK.rc2"
#include "Resources\\Strings.zh-TW.rc2"
#include "Resources\\Strings.zh-CN.rc2"
